@model WebApplication_bas.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="register-container">
    <h1>Register</h1>
    <div class="bg-gradient mb-4">Welcome! Please create your account.</div>
    <form asp-action="Register" asp-controller="Register" method="post">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a asp-controller="Login" asp-action="Login" class="btn btn-primary">ย้อนกลับ</a>
    </form>
</div>
