@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center hero-section">
    <div class="hero-content">
        <h1 class="display-4">Welcome</h1>
        <a href="@Url.Action("Login", "Login")" class="btn btn-primary btn-lg mt-4">Get Started</a>
    </div>
</div>
